/**
    Title: site.css
    Author: Nolan Berryhill
    Date: 03/25/2023
    Description: Styles for the index.html file
*/

/**
site.css 
*/

/**
Font for the body 
*/

html, body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

/**
Provides color, border, and padding for the first header
*/

h1 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
Provides color, border, and padding for the second header
*/

h2 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
Provides color, border, and padding for the two h3 headers
*/

h3 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
Provides color, border, and padding for the final header
*/

h4 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
Provides color and no decoration for original button
*/

li {
    color: #453674;
    text-decoration: none;
}

/**
Provides color for hovering on the button
*/

li:hover {
    background-color: #D6A800;
    color: #4F3674;
}

/**
Provides color after you visit the button
*/

li:visited {
    color: #3C275A
}
