/**
    Title: berryhill-payroll.css
    Author: Nolan Berryhill
    Date: 03/25/2023
    Description: Styles for unordered lists and main header
*/

/**
Links to the html file
*/

html,

/**
Provides the border layout for the html
*/

.list {
    border: 1px dotted red;
}

/**
Position the text center for id
*/

#payroll-header {
    text-align: center;
}