/**
    Title: berryhill-in-n-out-books.css
    Author: Nolan Berryhill
    Date: 05/07/2023
    Description: Styles for html
*/

/* Return position */
.return-home {
    text-align: left;
}

/* Font weight for header */
h3 {
   font-weight: lighter; 
}

/* Background color for tbody */
tbody {
    background-color: white;
}

/* Color for td */
td {
    color: black;
}