/**
    Title: berryhill-global.css
    Author: Nolan Berryhill
    Date: 05/07/2023
    Description: Global styles for html
*/

/* Links to the html file */

html,

/* Card styling for shadow and transition */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    margin:auto;
    text-align: center;
}

/* Provide text principals for the class */

.temp-title {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    padding: 5px;
    color:#4F3674
}

/* Padding for card content */

.card-content {
    padding: 2px 16px;
}

/* provide card hover styling */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* width size */

.full-width {
    width: 100%;
}

/* provide input styling */
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Provide font family for entire body */

body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

/* Provides color and no decoration for original button */

.return-home {
    color: #4F3674;
    text-decoration: none;
}

/* Provides color for hovering over button */

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

/* Provides color after you visit the link */

.return-home:visited {
    color: #3C275A;
}

/* Styles for btn */

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    cursor: pointer;
    color: black;
}

/* Color for the original button */

.btn-primary {
    background-color: #4F3674;
    color: white
}

/* Styles for hovering over the button */

.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674
}

/* Font size for h1 */

.temp {
    font-weight: 400;
}

/* provide styling for results */

#numberResults{
    font-size: 30px;
}

/* color for h3 */

h3{
    color: #4F3674;
    text-emphasis: none;
}

/* border, width, padding, color for table */

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: white;
}

/* border, padding, color for th */

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: white;
}

/* border, padding, color for table td */

table td{
    border: solid 1px #ddd;
    padding: 8px;
}

/* border, padding, color for table td */

table th{
    border: solid 1px #ddd;
    padding: 8px;
}

/* cursor color for table tr:hover */

table tr:hover{
    background-color: #D6A800;
    color: #4F3674;
    cursor: pointer;
}