/**
    Title: berryhill-sequence-game.css
    Author: Nolan Berryhill
    Date: 04/15/2023
    Description: Styles for html
*/

/* color for h3 */

h3{
    color: #4F3674;
    text-emphasis: none;
}

