/**
    Title: berryhill-favorites.css
    Author: Nolan Berryhill
    Date: 04/01/2023
    Description: Styles for main header
*/

/**
Links to the html file
*/

html,

/**
Center the text
*/

body {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

/**
Layout for h1
*/

.fav-header {
    text-align: center;
    background: none;
    color: black;
    border: none;
}

/**
Color for h2
*/

h2 {
    color:#3C275A;
}


/**
Color, border, and padding for buttons
*/

.click-button {
    border: solid 1px #3C275A;
    color: white;
    padding: 30px;
}