/**
    Title: berryhill-calculator.css
    Author: Nolan Berryhill
    Date: 04/29/2023
    Description: Styles for html
*/

/* Card styling for grid display */
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Return position */
.return-home {
    text-align: left;
}