/**
    Title: berryhill-favorites.css
    Author: Nolan Berryhill
    Date: 04/01/2023
    Description: Styles for main header
*/

/**
Links to the html file
*/

html,

/**
Center the text
*/

body {
    text-align: center;
}

/**
Position the text center for id
*/

#payroll-header {
    text-align: center;
}

/**
Color, border, and padding for buttons
*/

.click-button {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}
