/**
    Title: berryhill-number-game.css
    Author: Nolan Berryhill
    Date: 04/09/2023
    Description: Styles for html
*/

/*card padding */

.card{
    margin:auto;
    text-align: center;
}

/* provide styling for results */

#numberResults{
    font-size: 30px;
    text-align: center;
}