/**
    Title: berryhill-temp-conversion.css
    Author: Nolan Berryhill
    Date: 04/01/2023
    Description: Styles for main header
*/

/**
Links to the html file
*/

html,

/**
Center the text
*/

body {
    text-align: center;
}

/**
Color for h1
*/

.temp {
    text-align: center;
    border-color: none;
    background: none;
    background-color: none;
    color: black;
    border: none;
}

/**
Take off the red line for the break in page
*/

br {
    text-decoration: none;
}

/**
Color, border, and padding for button
*/

.click-button {
    background-color: none;
    border: solid 1px #3C275A;
    color: white;
    padding: 30px;
}