/**
    Title: site.css
    Author: Nolan Berryhill
    Date: 03/19/23
    Description: CSS for HTML
*/

/**
Font for the body
*/
html, body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

/**
Styles for h1, h2, h3, h4
*/
h1 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}
h2 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}
h3 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}
h4 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
Styles for li/a
*/
li {
    color: #453674;
    text-decoration: none;
}
li:hover {
    background-color: #D6A800;
    color: #4F3674;
}
li:visited {
    color: #3C275A
}
